/*@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Cormorant+Upright:wght@300&family=Cormorant:wght@300&family=Gentium+Basic:ital@1&family=Libre+Baskerville&display=swap');
*/

/*@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');*/


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;

    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1em;
    color: var(--text-color);
    /*font-family: 'Gentium Basic', serif;*/
}

:root {
    --text-color: black;

    --back-color: white;
    --nav-color: rgba(255, 255, 255, .55);
  }




body {
    background-color: var(--back-color);
}



#parent {
    display: grid;
    margin: 50px 20% 0px 20%;
}

#socials a {
    text-decoration: none;
    color: #0000EE;
}

#socials {
    font-size: .9em;

}

#socials a:hover {
    cursor: pointer;
    color: red;
}


.fab {
    color: var(--text-color);
    margin:0px 5px 5px 5px;
}

h1 {
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 35px;
    color: var(--text-color);
}
